In [1]:
import pandas as pd

In [43]:
data = pd.read_stata('../02. Datasets/ttest_with_result_mean_std.dta')
data.columns = data.iloc[0]
# Drop the first row
data = data.drop(0).reset_index(drop=True)

In [44]:
for i in range(1, 12):
    data.loc[i, 'SD'] = data.loc[i, 'Mean']
    data.loc[i, 'Mean'] = data.loc[i, 'Variable']
    data.loc[i, 'Variable'] = data.loc[i, 'abc']
    data.loc[i, 'abc'] = 0

    data.loc[12 + i, 'SD'] = data.loc[12 + i, 'Mean']
    data.loc[12 + i, 'Mean'] = data.loc[12 + i, 'Variable']
    data.loc[12 + i, 'Variable'] = data.loc[12 + i, 'abc']
    data.loc[12 + i, 'abc'] = 1

0  abc      Variable   Mean     SD
0    0           age  37.86  13.10
1    0        hhhead  0.560  0.497
2    0     eth hausa  0.715  0.452
3    0      hhmem no  8.422  4.054
4    0  edchild pe~t  0.279  0.276
5    0        assets  4.990  1.609
6    0       drought  0.385  0.487
7    0     cellphone  0.296  0.457
8    0  accesscell~e  0.763  0.426
9    0  usecellphone  0.542  0.499
10   0      makecall  0.691  0.463
11   0   receivecall  0.858  0.349
12   1           age  37.18  11.76
13   1        hhhead  0.547  0.498
14   1     eth hausa  0.721  0.449
15   1      hhmem no  8.328  4.074
16   1  edchild pe~t  0.269  0.270
17   1        assets  4.979  1.575
18   1       drought  0.380  0.486
19   1     cellphone  0.295  0.457
20   1  accesscell~e  0.798  0.402
21   1  usecellphone  0.573  0.495
22   1      makecall  0.725  0.447
23   1   receivecall  0.868  0.339

now we merge the table with the given label

In [50]:
df = pd.read_excel('../02. Datasets/variable__label_correspondence.xlsx')
df['varlab'] = df['varlab'].str.replace(r'^s\d+q\d+_\d+\s+', '', regex=True)