In [28]:
import pandas as pd

In [29]:
data = pd.read_stata('../02. Datasets/ttest_with_result_mean_std.dta')
data.columns = data.iloc[0]
# Drop the first row
data = data.drop(0).reset_index(drop=True)

In [30]:
for i in range(1, 12):
    data.loc[i, 'SD'] = data.loc[i, 'Mean']
    data.loc[i, 'Mean'] = data.loc[i, 'Variable']
    data.loc[i, 'Variable'] = data.loc[i, 'abc']
    data.loc[i, 'abc'] = 0

    data.loc[12 + i, 'SD'] = data.loc[12 + i, 'Mean']
    data.loc[12 + i, 'Mean'] = data.loc[12 + i, 'Variable']
    data.loc[12 + i, 'Variable'] = data.loc[12 + i, 'abc']
    data.loc[12 + i, 'abc'] = 1

now we merge the table with the given label

In [31]:
df = pd.read_excel('../02. Datasets/variable__label_correspondence.xlsx')
df['varlab'] = df['varlab'].str.replace(r'^s\d+q\d+_\d+\s+', '', regex=True)
df['varlab'] = df['varlab'].str.replace(r's22q1_15a ', '') # s22q1_15a 
df['varlab'] = df['varlab'].str.replace(r'id11 ', '')

In [32]:
data['Variable'].replace('edchild pe~t', 'edchild_percent', inplace  = True)
data['Variable'].replace('accesscell~e', 'accesscellphone', inplace  = True)
data['Variable'].replace('eth hausa	', 'edchild_percent', inplace  = True)
data['Variable'].replace('accesscell~e', 'accesscellphone', inplace  = True)

In [33]:
data['Variable'] = data['Variable'] \
    .str.replace(' ', '_') \
    .str.replace('edchild_pe~t', 'edchild_percent') \
    .str.replace('eth_hausa', 'eth_hausa') \
    .str.replace('hhmem_no', 'hhmem_no') \
    .str.replace('accesscell~e', 'accesscellphone')

In [34]:
data = data.merge(df, left_on='Variable', right_on='name', how='left')

In [39]:
dataframe = data[['varlab', 'Mean', 'SD', 'abc']]

In [41]:
df_abc_0 = dataframe[dataframe['abc'] == 0].reset_index(drop=True)
df_abc_1 = dataframe[dataframe['abc'] == 1][['varlab', 'Mean', 'SD']].reset_index(drop=True)

df_abc_1.rename(columns={'Mean': 'Mean_abc', 'SD': 'SD_abc'}, inplace=True)

result_df = pd.merge(df_abc_0, df_abc_1, on='varlab', how='left')

In [43]:
result_df.drop(columns = ['abc'], inplace = True)

In [44]:
result_df

,varlab,Mean,SD,Mean_abc,SD_abc
0,Are you the household head?,0.560,0.497,0.547,0.498
1,Respondent is Hausa,0.715,0.452,0.721,0.449
2,Number of household members,8.422,4.054,8.328,4.074
3,Percentage of children under 15 who have some ...,0.279,0.276,0.269,0.270
4,Number of asset categories owned by household,4.990,1.609,4.979,1.575
5,Household experienced drought in past year,0.385,0.487,0.380,0.486
6,Household owns a cell phone (excluding group p...,0.296,0.457,0.295,0.457
7,Access to household or village-level cell phone,0.763,0.426,0.798,0.402
8,Respondent has used cell phone since last harvest,0.542,0.499,0.573,0.495
9,Respondent has made call,0.691,0.463,0.725,0.447
10,Respondent has received call,0.858,0.349,0.868,0.339

In [53]:
difference = pd.read_stata('../02. Datasets/Table1_PanelA_dta.dta')
difference.columns = difference.iloc[1]
# Drop the first row
difference = difference.drop(0).reset_index(drop=True)
difference = difference.drop(0).reset_index(drop=True)

In [54]:
difference

1,VARIABLES,age,hhhead,eth_hausa,hhmem_no,edchild_percent,assets,drought,cellphone,accesscellphone,usecellphone,makecall,receivecall
0,,,,,,,,,,,,,
1,abc,-0.36,-0.01,0.01,0.02,-0.00,-0.03,-0.03,-0.00,0.04*,0.04,0.03,0.03
2,,(0.93),(0.02),(0.03),(0.25),(0.02),(0.10),(0.03),(0.03),(0.02),(0.03),(0.04),(0.03)
3,_Iavcode_2,-0.66,-0.05,0.53***,0.71,-0.15***,0.78***,-0.26***,-0.07,-0.09,0.01,0.09,-0.19***
4,,(3.34),(0.06),(0.16),(0.72),(0.05),(0.23),(0.06),(0.11),(0.07),(0.11),(0.12),(0.07)
5,_Iavcode_3,-0.95,0.03,0.59***,1.04,-0.02,0.52**,-0.28***,-0.10,-0.03,-0.14,0.21**,-0.15
6,,(3.13),(0.07),(0.16),(0.74),(0.06),(0.22),(0.09),(0.12),(0.08),(0.11),(0.10),(0.10)
7,_Iavcode_4,3.82,0.12**,0.58***,1.82*,-0.09,0.40*,-0.26***,0.10,0.02,0.04,0.17,0.03
8,,(3.40),(0.05),(0.16),(0.99),(0.06),(0.21),(0.07),(0.11),(0.07),(0.11),(0.10),(0.05)
9,_Iavcode_5,2.70,0.01,-0.05,0.70,-0.11,0.03,-0.03,0.02,0.04,0.09,0.03,0.01
10,,(3.58),(0.05),(0.18),(0.78),(0.07),(0.31),(0.06),(0.13),(0.07),(0.12),(0.11),(0.05)
11,_Iavcode_6,-2.24,0.09**,-0.38**,-1.74,-0.04,-0.36**,-0.01,-0.30***,-0.27**,-0.17,-0.30***,-0.00
12,,(4.06),(0.04),(0.16),(1.22),(0.07),(0.17),(0.10),(0.11),(0.10),(0.15),(0.10),(0.10)
13,_Iavcode_8,-8.14***,-0.00,0.55***,-0.99,-0.28***,0.01,-0.06,-0.25**,-0.45***,-0.34**,0.26**,-0.34***
14,,(2.97),(0.05),(0.16),(0.80),(0.06),(0.25),(0.08),(0.11),(0.10),(0.14),(0.10),(0.08)
15,_Iavcode_9,-8.09***,-0.09,0.31*,-1.50*,-0.05,0.21,-0.11,-0.13,-0.09,-0.11,0.10,-0.09**
16,,(2.99),(0.06),(0.18),(0.80),(0.05),(0.28),(0.25),(0.15),(0.08),(0.12),(0.09),(0.04)
17,_Iavcode_10,-6.48*,-0.04,0.32,0.18,-0.06,0.52*,-0.20***,0.00,-0.06,-0.05,0.02,-0.09
18,,(3.26),(0.05),(0.20),(0.76),(0.06),(0.29),(0.08),(0.12),(0.07),(0.12),(0.12),(0.12)
19,_Iavcode_11,-5.69*,-0.05,-0.29*,-1.88*,-0.36***,0.64***,-0.10,-0.07,-0.13*,-0.19,-0.08,-0.02
20,,(2.88),(0.05),(0.16),(1.08),(0.05),(0.18),(0.07),(0.10),(0.07),(0.13),(0.13),(0.09)
21,_Iavcode_12,-2.29,0.07*,0.09,-0.60,0.04,0.21,-0.21**,-0.09,-0.14,-0.12,-0.10,-0.05
22,,(3.85),(0.04),(0.19),(0.76),(0.07),(0.23),(0.10),(0.11),(0.10),(0.13),(0.12),(0.06)
23,_Iavcode_13,1.86,-0.00,0.57***,1.30*,0.13*,0.62**,-0.35***,0.14,0.03,0.01,-0.04,0.05
24,,(3.14),(0.08),(0.16),(0.71),(0.07),(0.31),(0.08),(0.11),(0.08),(0.11),(0.10),(0.05)
25,_Iavcode_14,0.35,-0.01,0.59***,1.03,-0.14**,1.17***,-0.11,0.30***,-0.01,0.11,0.03,-0.04
26,,(3.90),(0.08),(0.16),(0.86),(0.06),(0.43),(0.16),(0.11),(0.08),(0.13),(0.13),(0.09)
27,_Iavcode_15,0.82,0.06,0.62***,0.31,0.07,0.13,-0.13,0.00,-0.08,-0.04,0.07,-0.04
28,,(3.45),(0.04),(0.16),(0.70),(0.07),(0.23),(0.09),(0.12),(0.08),(0.16),(0.11),(0.07)
29,_Iavcode_16,3.67,0.05,-0.20,0.78,-0.04,0.55**,0.00,0.02,0.05,0.07,-0.02,0.06
30,,(3.52),(0.06),(0.17),(0.74),(0.07),(0.23),(0.09),(0.12),(0.07),(0.11),(0.10),(0.04)
31,_Iavcode_17,-9.99***,-0.02,0.23,-0.91,-0.12**,0.26,0.06,0.02,-0.10,-0.09,-0.11,-0.04
32,,(3.05),(0.06),(0.22),(1.09),(0.05),(0.24),(0.12),(0.12),(0.10),(0.15),(0.10),(0.08)
33,_Iavcode_18,-2.56,-0.01,0.44**,0.69,-0.12**,-0.16,0.05,-0.22,-0.36***,-0.40***,0.32***,-0.32***
34,,(4.57),(0.09),(0.17),(0.86),(0.06),(0.36),(0.07),(0.13),(0.10),(0.12),(0.08),(0.08)
35,_Iavcode_19,1.13,0.14**,0.62***,1.44,-0.09*,-0.22,-0.38***,-0.25**,0.00,-0.26*,-0.01,-0.14
36,,(3.21),(0.05),(0.16),(1.16),(0.05),(0.30),(0.06),(0.12),(0.08),(0.13),(0.17),(0.12)
37,_Iavcode_20,-3.87,-0.02,0.53***,0.30,-0.18***,0.26,0.03,-0.21*,-0.47***,-0.41***,0.01,-0.24
38,,(3.93),(0.04),(0.16),(0.86),(0.05),(0.27),(0.11),(0.11),(0.11),(0.12),(0.14),(0.15)
39,_Iavcode_21,-5.00,-0.03,0.29*,-0.97,-0.27***,-0.30,-0.09,-0.25**,-0.50***,-0.42***,-0.10,-0.13
40,,(3.07),(0.05),(0.17),(0.76),(0.06),(0.20),(0.08),(0.11),(0.07),(0.12),(0.23),(0.10)
41,_Iavcode_22,-5.60,-0.10,0.62***,2.60***,-0.05,1.08***,-0.35***,0.08,0.04,-0.04,-0.02,-0.00
42,,(3.45),(0.07),(0.16),(0.67),(0.05),(0.20),(0.09),(0.11),(0.08),(0.12),(0.12),(0.07)
43,,,,,,,,,,,,,
44,Observations,"1,038","1,033","1,038","1,038","1,012","1,038","1,038","1,035","1,038","1,026",570,570
45,R-squared,0.10,0.01,0.41,0.07,0.15,0.06,0.08,0.10,0.20,0.12,0.06,0.08
46,Robust standard errors in parentheses,,,,,,,,,,,,
47,"*** p<0.01, ** p<0.05, * p<0.1",,,,,,,,,,,,